{% extends 'base.html' %}
{% block title %}{{ photo.caption }}{% endblock %}
{% block content %}
    <div class="text-center">
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                    {% if photo.photo %}
                        <img src="{{ photo.photo.url }}" class="card-img-top">
                    {% endif %}
            </div>
        </div>
            <h5 class="card-title">{{ photo.caption }}</h5>
            <p class="card-text" id="likes" data-photo="{{ photo.pk }}" data-user="{{ request.user.pk }}">
                количество лайков : {{ photo.likes }}
            </p>
            <p class="card-text">автор : {{ photo.author }}</p>
            <p class="card-text">Создали : {{ photo.created_at }}</p>
            <a href="{% url 'webapp:photo_update' photo.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'webapp:delete_photo' photo.pk %}" class="btn btn-primary">Удалить</a>
            <a href="#" id="like" class="btn btn-primary d-none">like</a>
            <a href="#" id="dislike" class="btn btn-primary d-none">dislike</a>
    </div>
    {% for comment in Comments %}
        <div class="card m-2">
            <div class="card-header">
                {{ comment.author }} ({{ comment.created_at }})
            </div>

            <div class="card-body">
                <p class="card-text">Комментарий: {{ comment.text}}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form><a href="#" class="btn btn-primary">Удаление</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="#" class="btn btn-primary">Редаклирование</a></form>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
        <p>Нет комментов</p>
    {% endfor %}
    <h1 class="text-center m-2">Добавить коментарий</h1>
      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Текст:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Добавить коментарий</button>
        </div>
      </div>
{% endblock %}