{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h1 class="text-center">Фотографии</h1>
    <div class="row">
        {% for photo in photos %}
            <div class="col col-4">
                <div class="card">
                    {% if photo.photo %}
                        <img src="{{ photo.photo.url }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.caption }}</h5>
                        <p class="card-text">количество лайков : {{ photo.likes }}</p>
                        <p class="card-text">автор : {{ photo.author }}</p>
                        <p class="card-text">Создали : {{ photo.created_at }}</p>
                        <a href="{% url 'webapp:detail_photo' photo.pk %}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}